.home{
   /* background-color:  linear-gradient(90deg, #c94b4b 0%, #4b134f 100%); */
   background-color: rgb(73, 72, 72);
   width: 100%;
   height: 400vh;
   margin: 0;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
   }
   .main-navbar{
      display: grid;
      background-color: red;

   }
   .nav-items{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: flex-end;
      max-width: 100vw;
      padding-top: 12px;
      
   }

   .nav-items a{
      margin: 20px;
      text-decoration: none;
      color: whitesmoke;
      align-items: center;
     
      
   }

   .cart ,.search{
      width: 20px;
      height: 20px;
      margin: 20px;
   }
   .shoes{
      width: 100px;
      height: 100px;
      margin: 20px;
      position: absolute;
   }

   .contact-button{
      margin-right: 40px;
      width: 120px;
      height: 60px;
      background: linear-gradient(#e66465, #9198e5);
      border: 0;
      border-radius: 13px;
      align-items: center;
   }

   .main-img{
      height: 55%;
      width: 50%;
      position: absolute;
      top: 32%;
      right: 3%;
      margin-bottom: 20px;
   }
   .main-text{
      font-size: 30px;
      max-width: 500px;
      margin-left: 25px;
      margin-top: 85px;
      color: white;
   }
   .number{
      color: #fe6351;
   }
   .logo-main{
      font-size: 200px;
      z-index: 200%;
      max-width: 400px;
      position: absolute;
      top:25% ;
      right: 15%;
      color: white;
      opacity: 50%;
   }
.card-main{
   margin-left: 20px;
   height: 100vh;
}
   
.card{
  background-color: aqua;
   height: 60vh;
   width: 20vw;
   border-radius: 20px;
   text-align: center;
   align-items:flex-start;
   font-size: 30px;
   margin:20px;
   float: left;
   
}
.card-img{
   height: 179px;
   width: 188px;
   text-align: center;
}
.about-box{
   background-color: #fe6351;
   height: 60vh;
   width: 20vw;
   border-radius: 20px;
   margin-left: 2vw;
}
.about-info{
   float: right;
   position: absolute;
   top: 213vh;
   right: 18vw;
   max-width: 350px;
   word-spacing: 10px;
   font-size: 18px;
}
.img-two{
   float: right;
   position: absolute;
   right: 20px;
}

.footer{
   position: absolute;
   top: 400vh;
}